<!-- Home Component -->
<div class="home-section position-relative vh-100 d-flex align-items-center justify-content-end navbar-expand-sm" >
  <!-- Background image với overlay mờ -->
  <div class="home-bg position-absolute top-0 start-0 w-100 h-100"></div>
  <!-- <div class="overlay position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div> -->

  <!-- Container thông tin nổi lên -->
  <div class="home-info text-end text-white p-4 position-relative">
    <h1 class="display-4 fw-bold mb-2">Nguyễn Quang Phước</h1>
    <p class="subtitle fs-4 mb-1">Software Developer</p>
    <p class="mb-3">
      <a
        href="https://www.gtsc.vn/"
        target="_blank"
        class="text-white text-decoration-none fw-semibold"
      >
        @GTSC </a
      >, Hà Nội
    </p>

    <!-- Social Links -->
    <div class="social-links d-flex flex-row justify-content-end gap-3">
      <a href="https://www.facebook.com/ffuoc.21" target="_blank" class="text-white fs-4">
        <i class="fab fa-facebook"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/ph%C6%B0%E1%BB%9Bc-nguy%E1%BB%85n-quang-337a07272/"
        target="_blank"
        class="text-white fs-4"
      >
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>
