<div class="container mt-5 text-center mb-4">
  <div class="row">
    <!-- Cột bên trái: Card -->
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <div class="card text-center w-100 p-3 bg-dark text-white shadow-lg rounded-5">
        <!-- Div ảnh -->
        <div class="mb-3">
          <img
            src="assets/profile.jpg"
            alt="My Photo"
            class="img-fluid rounded-circle"
            style="width: 300px; height: 300px"
          />
        </div>

        <!-- Div thông tin -->
        <div class="info-text">
          <h3>Nguyễn Quang Phước</h3>
          <p>Full Stack Developer</p>
          <p>
            <a href="https://www.gtsc.vn/" target="_blank" class="text-white text-decoration-none">
              @GTSC</a
            >, Hà Nội
          </p>
        </div>

        <!-- Div social -->
        <div class="social-links mt-1 d-flex justify-content-center gap-3">
          <a href="https://www.facebook.com/ffuoc.21" target="_blank" class="social-icon">
            <i class="fab fa-facebook"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/ph%C6%B0%E1%BB%9Bc-nguy%E1%BB%85n-quang-337a07272/"
            target="_blank"
            class="social-icon"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Cột bên phải: Background Image -->
    <div class="col-md-8 d-flex justify-content-center align-items-center">
      <div class="home-bg-image"></div>
    </div>
  </div>
</div>
