.self-info {
  background-color: #2d2e2f;
  padding: 20px; /* để thấy rõ nền */
  border-radius: 10px; /* optional đẹp hơn */
}
.social-icon {
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  text-decoration: none;
  border-radius: 50%;
  padding: 0.5rem;
}

.social-icon.active,
.social-icon:hover {
  background-color: #06570c;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1.2); /* to hơn 20% */
}

