.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .home-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: url('/portfolio/assets/images/profile.jpg');
    background-image: url('/assets/images/profile.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
    z-index: 1;
    max-width: 100%;
    height: auto;
  }

  .home-info {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    text-align: right;

    h1 {
      font-size: 4rem;
    }

    .subtitle {
      font-size: 1.5rem;
    }

    .social-links a {
      font-size: 2.5rem;
    }
  }
}
.home-info h1 {
  font-size: clamp(1.8rem, 5vw, 4rem); /* min 1.8rem, max 4rem, auto scale theo % màn hình */
}

.home-info .subtitle {
  font-size: clamp(1rem, 3vw, 1.5rem);
}



/* Mobile */
@media (max-width: 575.98px) {
  .home-bg {
    background-image: url('/portfolio/assets/images/profile1.jpg');
    // background-image: url('/assets/images/profile1.jpg') !important;
    z-index: 1;
  }

  .home-info {
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
    padding: 0 1rem;
  }
  .home-info .social-links {
    justify-content: end !important;
  }
}
